PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://fitjone:<fitjone123>@cluster1.s0vvlro.mongodb.net/?appName=Cluster1
ADMIN_API_KEY=fitjone123
FRONTEND_URL=http://localhost:3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Cloudflare R2
R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=your_r2_bucket_name
R2_PUBLIC_URL=https://your_r2_public_url.com
